.mission > .contents {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  padding-top: 30px;
  margin-top: 200px;
  padding-bottom: 200px;
}

.mission > .contents > .m {
  color: #757575;
  margin-bottom: 30px;
}

.mission > .contents > h2 {
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.mission > .contents > .style {
  width: 100%;
  display: flex;
  gap: 50px;
}

.mission > .contents > .style > article {
  width: 100%;
  height: 480px;
  border-radius: 10px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-bottom: 100px;
  position: relative;
}

.mission > .contents > .style > article > .cell {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3a0000;
  opacity: 0.2;
  top: 0px;
  left: 0px;
}

.mission > .contents > .style > .first {
  background-image: url("https://ably.team/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fably-team%2F609556b7-6622-4125-8ddc-2d1818a8c99b_image2.png%3Fauto%3Dcompress%2Cformat%26rect%3D0%2C0%2C1500%2C1500%26w%3D960%26h%3D960&w=1920&q=75");
  background-size: cover;
}

.mission > .contents > .style > .second {
  background-image: url("https://ably.team/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fably-team%2Fe89b347b-e136-41de-89be-d683aa11abce_chain_commerce.png%3Fauto%3Dcompress%2Cformat%26rect%3D0%2C33%2C1856%2C1856%26w%3D960%26h%3D960&w=1920&q=75");
  background-size: cover;
}

article > p {
  color: white;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
}

article > h4 {
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.5;
  width: fit-content;
  z-index: 1;
  padding-bottom: 20px;
}

article > button {
  border: none;
  border-radius: 20px;
  background-color: white;
  padding: 12px 16px;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .mission > .contents {
    max-width: 400px;
  }

  .mission > .contents > h2 {
    font-size: 28px;
  }

  .mission > .contents > .style {
    display: flex;
    flex-direction: column;
  }

  .mission > .contents > .style > article > h4 {
    font-size: 20px;
  }
}
