.one {
  display: inline-block;
  border: 1px solid green;
  background-color: green;
  width: 300px;
  height: 200px;
}

.two {
  display: inline-block;
  border: 1px solid purple;
  background-color: blue;
  width: 300px;
  height: 200px;
}

.three {
  display: inline-block;
  border: 1px solid orange;
  background-color: orange;
  width: 300px;
  height: 200px;
}

.four {
  display: inline-block;
  border: 1px solid red;
  background-color: red;
  width: 300px;
  height: 200px;
}
